//  .overview {
//      background-color: $verylightGray;
//      margin: 0 auto;
//      padding: 90px 0 70px;

//      h2 {
//          margin: 0 0 10px 20px;
//      }

//      // .overview__items

//      &__items {
//          display: grid;
//          grid-template-columns: 50% 50%;
//          gap: 0px;

//          @media (max-width:$phone) {
//              grid-template-columns: 100%;


//          }
//      }

//      // .overview__list

//      //  &__list {}



//      // .overview__item

//      &__item {
//          display: grid;
//          grid-template-columns: 1fr 7fr;
//          grid-template-rows: 1fr;


//      }

//      // .overview__item-img

//      &__item-img {
//          width: 141px;
//      }

//      // .overview__item-text

//      &__item-text {
//          h3 {
//              margin: 0;
//          }

//          p {
//              font-family: 'Montserrat';
//              font-style: normal;
//              font-weight: 400;
//              font-size: 14px;
//              line-height: 21px;
//              color: #848E97;

//          }
//      }

//      // .overview__editor

//      &__editor {
//          color: #8D81AC;
//          padding-left: 20px;

//      }

//      // .overview__editor-item

//      &__editor-item {


//          display: flex;
//          flex-direction: column;

//          h2 {
//              color: #8D81AC;
//          }

//          img {
//              width: 100%;
//          }
//      }

//      //  // .overview__editor-item-title

//      //  &__editor-item-title {}

//      //  // .overview__editor-item-img

//      //  &__editor-item-img {}

//  }

.overview {

    .overview-header {
        text-align: center;
        padding: 100px 0;

        & span {
            display: inline-block;
            padding: 10px 5px 25px;

            @media (max-width:$phone) {
                display: inline-block;
                padding: 10px 17px 0;
            }


        }

        & h2 {
            @media (max-width:$phone) {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 28px;
            }

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 54px;
            line-height: 54px;
            text-transform: uppercase;
            color: #635C73;
        }

        & p {

            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;
            width: 880px;
            margin: 0 auto;
            color: #323232;
            // padding: 3.5rem 0 1.5rem 0;
        }

    }

    .overview-advantages {

        background-color: #F4F4F4;

        &__grid {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: column;
            margin: 0 auto;
            padding: 100px 0 0 0;

        }

        &__item {
            display: flex;
            flex-direction: row;
            text-align: start;
            padding-right: 2px;

            padding: 0 7% 40px;


            h4 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #323232;
                margin: 0;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #848E97;
            }

        }

        &__image {
            width: 25%;
            object-fit: contain;
            align-self: flex-start;
        }

        &__text {
            width: 75%;
        }

        &__title {
            color: $brand-color;
            margin: 20px 0 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
        }

        &__banner {
            grid-row: 2 / span 3;
            overflow-x: hidden;

            img {
                display: block;
                object-fit: contain;
                max-width: 100%;
            }
        }

    }

    @media (max-width: $tab) {

        .overview-header {

            & h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 42px;
            }

            & p {

                width: 690px;

            }

        }

        .overview-advantages {

            background-color: $secondary-color;

            &__grid {
                grid-template-columns: 1fr;
                grid-auto-flow: row;
                padding: 0;
            }

            &__title {
                order: 1;
                text-align: center;
                padding: 0 2rem 5rem;


            }

            &__item {
                order: 2;
            }

            &__banner {
                grid-row: initial;
                order: 3;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;

                img {
                    max-width: 95%;
                }
            }
        }

    }

    @media (max-width: $phone) {

        .overview-header {

            & h2 {

                font-weight: 700;
                font-size: 30px;
                line-height: 28px;


            }

            & p {

                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                width: 276px;
            }

        }

        .overview-advantages {



            &__item {
                flex-wrap: wrap;
                // width: 320px;

            }




            &__image {
                width: 100%;


                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            &__title {
                order: 1;
                text-align: center;
                padding: 0 45px 36px;
                width: 300px;


                font-weight: 700;
                font-size: 35px;
                line-height: 38px;


            }

            &__text {
                width: 100%;
                text-align: center;

                h4 {
                    padding: 2.5rem 0 0 0;
                }
            }

            &__banner {
                position: relative;
                min-height: 380px;

                img {
                    min-width: $phone;
                    position: absolute;
                    padding-left: 10px;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            @media (max-width: 320px) {
                &__title {
                    padding: 0 10px 36px;

                }
            }

        }
    }


}