$mob-width: 320px;
$red: red;
$white: white;
$cadetblue: #57A4A4;
$black: black;
$very-very-darkgray: #4E4E4E;
$darkGray : #7C7C7C;
$verydarkGray :#5C5C5C;
$verylightGray: #f4f4f4;
$gray: #B9B9B9;
$brand-color: #8D81AC;
$secondary-color: #fff;

$phone: 480px;
$tab: 992px;
$desk: 1200px;